img {
	width: 16px;
	height: 16px;
}

#page {
	max-width: 1250px;
	width: 100%;
}

#controls {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

#controls pre {
	font-size: 11px;
	font-family: monospace;
}

#content {
	width: 1000px;
	display: inline-block;
	vertical-align: text-top;
}

#canvas-container {
	width: 1000px;
	height: 700px;
	position: relative;
	display: inline-block;
	border: 1px solid black;
}

#canvas-container canvas {
	position: absolute;
}

#sidebar {
	display: inline-block;
	width: 200px;
	margin-right: 20px;
	height: 100px;
	float: left;
}

#io-center {
	display:inline-block;
	vertical-align: top;
	margin-right: 20px;
}

#io-center input{
	margin-bottom: 5px;
}

#io-center textarea {
	resize: none;
	width: 100%;
	display: block;
	margin-bottom: 5px;
}

#notes-area {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	width: 300px;
}

#notes-area textarea {
	width: 100%;
	resize: none;
	display: block;
}

.feature-list {
	vertical-align: top;
}

.inline {
	display: inline-block;
}


@media (max-width: 1250px) {
	.feature-list {
		display: inline-block;
		margin-right: 10px;
	}

	#render-settings br {
		display: none;
	}

	#page {
		width: 1000px;
	}

	#sidebar {
		display: block;
		width: 530px;
		height: 100%;
	}

	#content {
		display: block;
	}

	#controls {
		float: right;
		display: block;
		margin-right: 5px;
	}

	#io-center {
		display: block;
		width: 250px;
		float: right;
		margin-right: 0px;
	}
}
