<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link id="style" rel="stylesheet" type="text/css" href="/stylesheet.css">
	</head>

	<body>
		<div id="header">
			<a href="/"><h1>Trentv.net</h1></a>
			<a class="left" href="/contact/"><p>Contact</p></a>
			<a class="left" href="/projects/"><p>Projects</p></a>
			<a class="left" href="/play/"><p>Play</p></a>
			<a class="left" href="/work/"><p>Work</p></a>
			<a class="left" href="/"><p>Home</p></a>
		</div>
		<div id="page">

			<h1>I messed up!</h1>
			<p>There's nothing on this page, so you got dropped off here at this 404 page. Maybe head to the <a href="/">index page?</a></p>
		</div>
	</body>
</html>
