<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link id="style" rel="stylesheet" type="text/css" href="/stylesheet.css">
	</head>

	<body>
		<% include global/header.ejs %>
		<div id="page">

			<div class="separator">
				<img alt="Something about the lower receiver of this makes me feel like I might have messed it up" src="index-resources/assault.png">
				<h1>Trentv.net</h1>
			</div>
			<p>Welcome! This is my personal website, where I can showcase my recent work and other projects. Right below you can see the projects I've highlighted on display, and up in the corner you can find some navigational links. The 'Resume/CV' link will bring you to my professional resume and portfolio for potential employers. 'All Projects' shows a list of every project, organized by technology. If you want to get ahold of me, you can find out how in 'Contact'. Enjoy!</p>

			<div class="separator">
				<img alt="Left-over-head-from-another-project disapproves of you checking for alt text." src="index-resources/head.png">
				<h1>Projects on display</h1>
			</div>

			<div class="image-container">
        <a class="text" href="/tools/narrative-writer/">
					<h1>EMS Narrative Writer</h1>
				</a>
				<a class="text" href="/tools/dnd-dungeon/">
					<h1>DnD Dungeon Creator</h1>
				</a>
        <a class="text" href="/advanced-darkness/">
					<h1>Advanced Darkness</h1>
				</a>
				<a class="text" href="/tds/">
					<h1>Top-down shooter</h1>
				</a>
				<a class="text" href="https://www.jamieswhiteshirt.com/minecraft/mods/gases/">
					<h1>Glenn's Gases maintainer</h1>
				</a>
			</div>

			<div class="separator">
				<img alt="It's a scroll." src="index-resources/scroll.png">
				<h1>Announcements</h1>
			</div>
			<p>May 30, 2017</p>
			<p>I just finished rewriting the backend code for the website. Moved a few projects around. Express is pretty cool when you actually know how to use it.</p>
		</div>
		<% include global/footer.ejs %>
	</body>
</html>
