@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

* {
	margin:0;
	font-family: "Source Sans Pro", sans-serif;
	color: #444;
}

body {
	background-color: #EDEDED;
}

#page {
	width: 90%;
	margin:0 auto;
	max-width: 1000px;
	padding: 10px;
}

pre {
	white-space: pre-wrap;
}

.code {
	margin-top: 1em;
	padding: 15px;
	tab-size: 4;
	font-family: monospace;
	background-color: #EADFD1;
}

.small-code {
	display: inline-block;
	padding: .25em;
	background-color: #EADFD1;
	font-family: monospace;
}

/** Header */

#header {
	height: 2.5em;
	padding: .5em;
	background-color: #1E2636;
}

#header * {
	color: #EDEDED;
}

#header h1 {
	float: left;
}

#header .left {
	float: right;
}

/** Image container */

.image-container * {
	width: 300px;
	height: 150px;
	margin: 0;
	padding: 0;
	display:inline-block;
	box-sizing: border-box;
	background-size:contain;
}

.image-container .text {
	background-color: #1E2636;
	margin: 0;
	display: inline-block;
}

.image-container .text * {
	color: #EDEDED;
	display: table-cell;
	margin: 0px;
	vertical-align: middle;
	text-align: center;
}

.image-container {
	text-align:center;
}

/** Separator*/

.separator {
	padding: 10px;
}

.separator * {
	display: inline-block;
	padding-right: 10px;
}

/** Misc */

.invalid {
	text-decoration: line-through;
}

p {
	padding: 0.5vw;
}

a {
	text-decoration: none;
	color: #777;
}

a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 450px) {
	.left {

	}
}
