<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link id="style" rel="stylesheet" type="text/css" href="/stylesheet.css">
		<link id="style" rel="stylesheet" type="text/css" href="stylesheet.css">
	</head>

	<body>
		<% include ../global/header.ejs %>
		<div id="page">
			<div class="separator">
				<h1>Contact me</h1>
			</div>
			<p>I am freely accessable if you ever need me. There are two main ways you can contact me:</p>
			<div class="contact-container">
				<div class="contact">
					<img src="steam.png">
					<h1>Steam</h1>
					<h2>Username: <a href="https://steamcommunity.com/id/trentv4">trentv4</a></h2>
				</div>
				<div class="contact">
					<img src="email.png">
					<h1>Email</h1>
					<h2>Email: <a href="mailto:trent@trentv.net">trent@trentv.net</a></h2>
				</div>
			</div>
		</div>
		<% include ../global/footer.ejs %>
	</body>
</html>
