<!DOCTYPE html>
<html>

	<head>
		<title>Site statistics viewer</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/stylesheet.css">
		<link rel="stylesheet" type="text/css" href="stylesheet.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	</head>

	<body>
		<% include ../global/header.ejs %>
		<div id="page" data-role="page">

		</div>

    <script src="main.js" type="text/javascript"></script>
	</body>
</html>
