#page {
  display: flex;
  align-items:flex-start;
  justify-content: center;
  flex-flow: row wrap;
  align-content: flex-end;
}

.data-container {
  width: 30%;
  background-color: #1E2636;
  margin: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
}

.data-container * {
  color: #F0EAD6;
}
