<!DOCTYPE html>
<html>
	<head>
		<title>Everwood Dungeon</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link id="style" rel="stylesheet" type="text/css" href="/stylesheet.css">
		<link id="style" rel="stylesheet" type="text/css" href="stylesheet.css">
	</head>

	<body>
		<% include ../global/header.ejs %>
		<div id="page">
			<div class="separator">
				<img src="potion_hp.png">
				<h1>Everwood Dungeon</h1>
			</div>

			<p>This is one of my favorite memories programming. I've spent maybe 2, 3 weeks of work time to bring it to this point, most of it on vacation around summer 2015. I haven't put much actual content into it, but the gameplay elements are there and sound. This also shows my <i>magnificent</i> artistic skills, which I may or may not come back to fix.</p>
			<p>This project is heavily inspired from classic roguelikes, notable Nethack and POWDER (both of which are my favorites.) It's a simple dungeon-crawling game, where you experience different enemies based on the level. Hopefully you can upgrade your equipment before facing the deadly knights deeper down!</p>
			<p>Solo project. Lots of inspiration taken from <a href="http://www.zincland.com/powder/">POWDER</a></p>
			<h2><a href="roguelike.zip">Download!</a></h2>

			<div class="separator">
				<img src="scroll_lightning.png">
				<h1>Showcase screenshots</h1>
			</div>

			<div class="image-container">
				<img src="1.png"/>
				<img src="2.png"/>
				<img src="3.png"/>
				<img src="4.png"/>
			</div>

			<div class="separator">
				<img src="longsword.png">
				<h1>Controls</h1>
			</div>

			<h2>Game Controls</h2>
			<li>Movement: WASD</li>
			<li>Dig: F</li>
			<li>Inventory: TAB</li>
			<li>Wait: SPACE</li>
			<li>Open Door: O</li>
			<li>Close Door: C</li>
			<li>Grab: G</li>
			<li>Toggle small render: Q</li>
			<li>Look: X</li>

			<h2>Inventory Controls</h2>
			<li>Move cursor: LEFT-RIGHT-UP-DOWN</li>
			<li>Move item: ENTER</li>
			<li>Use item: E</li>
		</div>
		<% include ../global/footer.ejs %>
	</body>
</html>
