@keyframes spin-1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.bat {
	animation: spin-1 0.75s infinite;
	animation-timing-function: linear;
}

.bat2 {
	animation: spin-2 0.75s infinite;
	animation-timing-function: linear;
}
