h1 {
  text-align: center;
}

.input-sliders {
  display: inline-block;
  flex-direction: row;
}

.input-sliders * {
  margin-right: 5px;
}

canvas {
  position: absolute;
}

#input-holder {
  height: 200px;
  flex-direction: row;
}
