<!DOCTYPE html>
<html>

	<head>
		<title>Narrative writer</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/stylesheet.css">
		<link rel="stylesheet" type="text/css" href="stylesheet.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	</head>

	<body>
		<% include ../../global/header.ejs %>
		<div id="page">
			<div id="information">
				<div id="narratives"></div>
				<div id="information-flex"></div>
			</div>
			<div>
				<h2>Narrative</h2>
				<p>Ensure that this narrative is correct and complete before use. All responsibility falls on the personnel for correctness.</p>
				<textarea id="output"></textarea>
			</div>

		</div>

	    <script src="main.js" type="text/javascript"></script>
	</body>
</html>
