#output {
	width: 100%;
}

#narratives label {
	display: block;
}

#information-flex {
	display: flex;
	flex-direction: column;
	width: 325px;
}

#information-flex * {
	display: block;
}

#information-flex input {
	display: inline;
	float: right;
}

#information-flex textarea {
	display: inline;
	float: right;
	width: 100%;
}

#page {
	display: flex;
}

#output {
	width: 700px;
	height: 500px;
}
