<!DOCTYPE html>
<html>
	<head>
		<title>.webm archive</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/stylesheet.css">
		<link rel="stylesheet" type="text/css" href="/webm/stylesheet.css">
	</head>

	<body>
		<% include ../global/header.ejs %>
		<div id="page">
			<div id="sidebar"></div>
			<div id="video-bar">
				<video id="player" controls></video>
				<div class="separator">
					<h1 id="title">Title</h1>
				</div>
				<p id="description">Description</p>
				<p id="tags">Tags</p>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
		<script src="/webm/main.js" type="text/javascript"></script>
		<script>setVideo("<%= req.query.v %>")</script>
		<% include ../global/footer.ejs %>
	</body>
</html>
