video {
	width: 960px;
	height: 540px;
	display:block;
	margin: 0 auto;
}

#tags {
	color: #AAA;
}

#sidebar {
	width: 330px;
	float:right;
}

#page {
	max-width: 1300px;
}

#video-bar {
	float:left;
}

#vidya {
	display: inline-block;
	width: 100px;
	height: 55px;
}

.recommended-video img {
	width: 150px;
	height:100px;
	float:left;
}

.recommended-video {
	background-color: green;
	width: 150px;
	margin-right: 4px;
	height:100px;
}
