<!DOCTYPE html>
<html>
	<head>
		<title>Top-down shooter</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link id="style" rel="stylesheet" type="text/css" href="/stylesheet.css">
		<link id="style" rel="stylesheet" type="text/css" href="stylesheet.css">
	</head>

	<body>
		<% include ../global/header.ejs %>
		<div id="page">
			<div class="separator">
				<img src="shotgun.png">
				<h1>Top-down Shooter</h1>
			</div>

			<p>This is one of my longer projects. Several years in the making, but with only a few days in the programming and design of. It's a top down shooter, where you play as a Navy SEAL attempting recapture of the captain of the commercial barge, the <i>USS Hermangildo</i>. To aid you in this, you have been provided helpful medical stims and a variety of weapons to suit your preferences. Good luck!</p>
			<p>Solo project with creative input from Erlend Amdal.</p>
			<h2><a href="tds.zip">Download!</a></h2>

			<div class="separator">
				<img src="assault.png">
				<h1>Showcase screenshots</h1>
			</div>

			<div class="image-container">
				<img src="1.png"/>
				<img src="2.png"/>
				<img src="3.png"/>
				<img src="4.png"/>
			</div>

			<div class="separator">
				<img src="revolver.png">
				<h1>Controls</h1>
			</div>

			<li>Movement: WASD</li>
			<li>Reload: R</li>
			<li>Stimpack: F</li>
		</div>
		<% include ../global/footer.ejs %>
	</body>
</html>
