<!DOCTYPE html>
<html>
	<head>
		<title>Character sheet manager</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/stylesheet.css">
		<link rel="stylesheet" type="text/css" href="stylesheet.less">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
	</head>
	<body>
		<% include ../../global/header.ejs %>
		<div id="page">

			<!-- Top bar, has all the random shit that's mostly RP. !-->

			<div id="top">
				<img src="logo.png"></img>
				<div>
					<p>Name<textarea id="name"></textarea></p>
					<p>Player<textarea id="player"></textarea></p>
				</div>
				<div id="top_row2">
					<div>
						<p>Class and levels<textarea id="classes"></textarea></p>
					</div>
					<div>
						<p>Race<textarea id="race"></textarea></p>
						<p>Alignment<textarea id="alignment"></textarea></p>
						<p>Deity<textarea id="deity"></textarea></p>
					</div>
				</div>
				<div>
					<p>Size<textarea id="size"></textarea></p>
					<p>Age<textarea id="age"></textarea></p>
					<p>Gender<textarea id="gender"></textarea></p>
					<p>Height<textarea id="height"></textarea></p>
					<p>Weight<textarea id="weight"></textarea></p>
					<p>Eyes<textarea id="eyes"></textarea></p>
					<p>Hair<textarea id="hair"></textarea></p>
					<p>Skin<textarea id="skin"></textarea></p>
				</div>
			</div>

			<!-- Main area, for skills and weapons and stats and shit like that. !-->

			<div id="content">
				<div id="content_left">
					<!-- Ability levels, misc stats like HP/AC, fort/refl/will !-->
					<div id="misc_stat_block">
						<!-- Ability levels (STR/DEX/CON) !-->
						<div id="ability_block">
							<h2>STR <textarea maxlength="3"></textarea><textarea readonly></textarea></h2>
							<h2>DEX <textarea maxlength="3"></textarea><textarea readonly></textarea></h2>
							<h2>CON <textarea maxlength="3"></textarea><textarea readonly></textarea></h2>
							<h2>INT <textarea maxlength="3"></textarea><textarea readonly></textarea></h2>
							<h2>WIS <textarea maxlength="3"></textarea><textarea readonly></textarea></h2>
							<h2>CHA <textarea maxlength="3"></textarea><textarea readonly></textarea></h2>
						</div>
						<!-- Misc stats like HP/AC !-->
						<div id="misc_block">
							<h2>HP <textarea maxlength="3"></textarea>/<textarea maxlength="3"></textarea></h2>
							<h2>Damage Reduction <textarea maxlength="3"></textarea></h2>
							<h2>Initative <textarea maxlength="3"></textarea></h2>
							<h2>Speed <textarea maxlength="3"></textarea></h2>
							<h2>Armor Class <textarea maxlength="3"></textarea></h2>
							<h2>Attack Bonus <textarea maxlength="3"></textarea></h2>
						</div>
						<!-- More advanced stuff (fort/refl/will) !-->
						<div id="advanced_block">
							<h2>Fortitude <textarea readonly></textarea><textarea maxlength="3"></textarea><textarea maxlength="3"></textarea></h2>
							<h2>Reflex <textarea readonly></textarea><textarea maxlength="3"></textarea><textarea maxlength="3"></textarea></h2>
							<h2>Will <textarea readonly></textarea><textarea maxlength="3"></textarea><textarea maxlength="3"></textarea></h2>
							<h2>Grapple <textarea readonly></textarea><textarea maxlength="3"></textarea><textarea maxlength="3"></textarea></h2>
						</div>
					</div>

					<div id="inventory_block">
						<!-- Equipment like weapons and armor !-->
						<div id="equipment_list">
							<div class="equipment">
								<span>WEAPONS</span>
								<div>
									<p>Name</p>
									<p>Damage</p>
									<p>Crit</p>
								</div>
								<div>
									<textarea id="name"></textarea>
									<textarea id="damage"></textarea>
									<textarea id="crit"></textarea>
								</div>
								<p>Notes</p>
								<textarea id="notes"></textarea>
							</div>
							<div class="equipment">
								<span>WEAPONS</span>
								<div>
									<p>Name</p>
									<p>Damage</p>
									<p>Crit</p>
								</div>
								<div>
									<textarea id="name"></textarea>
									<textarea id="damage"></textarea>
									<textarea id="crit"></textarea>
								</div>
								<p>Notes</p>
								<textarea id="notes"></textarea>
							</div>
							<div class="equipment">
								<span>WEAPONS</span>
								<div>
									<p>Name</p>
									<p>Damage</p>
									<p>Crit</p>
								</div>
								<div>
									<textarea id="name"></textarea>
									<textarea id="damage"></textarea>
									<textarea id="crit"></textarea>
								</div>
								<p>Notes</p>
								<textarea id="notes"></textarea>
							</div>
							<div class="equipment">
								<span>ARMOR</span>
								<div>
									<p>Name</p>
									<p>AC</p>
									<p>Type</p>
								</div>
								<div>
									<textarea id="name"></textarea>
									<textarea id="damage"></textarea>
									<textarea id="crit"></textarea>
								</div>
								<p>Notes</p>
								<textarea id="notes"></textarea>
							</div>
							<div class="equipment">
								<span>ARMOR</span>
								<div>
									<p>Name</p>
									<p>AC</p>
									<p>Type</p>
								</div>
								<div>
									<textarea id="name"></textarea>
									<textarea id="damage"></textarea>
									<textarea id="crit"></textarea>
								</div>
								<p>Notes</p>
								<textarea id="notes"></textarea>
							</div>
							<div class="equipment">
								<span>ARMOR</span>
								<div>
									<p>Name</p>
									<p>AC</p>
									<p>Type</p>
								</div>
								<div>
									<textarea id="name"></textarea>
									<textarea id="damage"></textarea>
									<textarea id="crit"></textarea>
								</div>
								<p>Notes</p>
								<textarea id="notes"></textarea>
							</div>
						</div>
						<!-- Inventory panels !-->
						<div id="misc_inventory_block">
							<div id="small_boxes">
								<div>
									<h2>Languages</h2>
									<textarea></textarea>
								</div>
								<div id="exp">
									<h2>Gold</h2>
									<textarea></textarea>
									<span></span>
									<h2>Experience</h2>
									<textarea></textarea>
								</div>
								<div>
									<h2>Feats</h2>
									<textarea></textarea>
								</div>
								<div>
									<h2>Abilities</h2>
									<textarea></textarea>
								</div>
							</div>
							<h2>Inventory</h2>
							<div id="inventory_panes">
								<textarea></textarea>
								<textarea></textarea>
							</div>
							<h2>Spells</h2>
							<div id="spell_slots">
								<span>LEVEL 0 <textarea maxlength="2"></textarea>/<textarea maxlength="2"></textarea></span>
								<textarea></textarea>
								<span>LEVEL 1 <textarea maxlength="2"></textarea>/<textarea maxlength="2"></textarea></span>
								<textarea></textarea>
								<span>LEVEL 2 <textarea maxlength="2"></textarea>/<textarea maxlength="2"></textarea></span>
								<textarea></textarea>
								<span>LEVEL 3 <textarea maxlength="2"></textarea>/<textarea maxlength="2"></textarea></span>
								<textarea></textarea>
								<span>LEVEL 4 <textarea maxlength="2"></textarea>/<textarea maxlength="2"></textarea></span>
								<textarea></textarea>
								<span>LEVEL 5 <textarea maxlength="2"></textarea>/<textarea maxlength="2"></textarea></span>
								<textarea></textarea>
								<span>LEVEL 6 <textarea maxlength="2"></textarea>/<textarea maxlength="2"></textarea></span>
								<textarea></textarea>
								<span>LEVEL 7 <textarea maxlength="2"></textarea>/<textarea maxlength="2"></textarea></span>
								<textarea></textarea>
								<span>LEVEL 8 <textarea maxlength="2"></textarea>/<textarea maxlength="2"></textarea></span>
								<textarea></textarea>
								<span>LEVEL 9 <textarea maxlength="2"></textarea>/<textarea maxlength="2"></textarea></span>
								<textarea></textarea>
							</div>
						</div>
					</div>
				</div>

				<!-- Skills !-->
				<div id="content_right">
					<span>Appraise <textarea readonly></textarea><textarea maxlength="3"></textarea> INT</span>
				</div>
			</div>

		</div>

		<script src="main.js" type="text/javascript"></script>
	</body>
</html>
